{{#unless isLoaded}}
  {{partial 'components/ember-ui-pagination-load-more'}}
{{/unless}}

<ul class="ember-ui-pagination">
  {{#each visibleContent as |item index| }}
    {{ember-ui-pagination-item item=item currIndex=index}}
  {{else}}
    {{#if isLoaded}}<p>No news to show</p>{{/if}}
  {{/each}}

  {{#if canLoadMore}}
    {{ember-ui-pagination-load-more}}
  {{/if}}
</ul>