.block{
  padding:  1.875em;
  background: $subtle;
}

.block--invert{
  background: none;
  border: 2px solid #fff;
}

.block__title{
  font-size: 1.875em;
  margin-bottom: 0.6em;
  font-weight: normal;
  line-height: 1.1;
}

.block__title--invert{
  color: #fff;
}