.branding {
  min-height: 46.875em;
  background: $blue;
  background-image: radial-gradient(at top right, $blue 10%, $deep-blue 100%);
  padding-top: 1em;
}

.branding-navigation {
  overflow: hidden;
}