body{
  font: 1em/1.6 "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
}


.logo{
  display: block;
  width: 14.375em;
  float: left;
  margin: auto;
}

.container{
  max-width: 70em;
  margin: 0 auto;
  position: relative;
  padding: 0 2em;
}


@media screen and (max-width: $break) {
  .logo{
    float: none;
  }
}