.main-navigation{
  float: right;
  margin-top: 1em;
}

.main-navigation__item{
  display: inline-block;
  >a{
    padding: 1em 3em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
  }
}


@media screen and (max-width: $break) {
  .main-navigation{
    float: none;
    margin: 0.5em auto;
  }

}