.promo {
  margin-top: 5em;
  padding-bottom: 3em;
}

.promo-header {
  font-size: 2.875em;
  margin-bottom: 0.6em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  color: #fff;
}

.promo-subheader {
  color: #fff;
  font-size: 1.25em;
}

.promo-visual,
.promo-info{
  margin-top: 3.125em;
  min-height: 330px;
}

.promo-visual__image {
  width: 38%;
}

.promo-visual__text{
  width: 62%;
  float: left;
}

.promo-info{
  padding-left: 2.5%;
  box-sizing: border-box;
  .block{
    padding: 1.875em 0 0 1.875em;
  }
}

.scrolled-container{
  height: 237px;
  overflow: auto;
}