/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

/*!
Pure v0.4.2
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
.yui3-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap
}

.opera-only :-o-prefocus, .yui3-g {
  word-spacing: -0.43em
}

.yui3-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto
}

.yui3-g [class *= "yui3-u"] {
  font-family: sans-serif
}

/*!
Pure v0.4.2
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
.yui3-u-1, .yui3-u-1-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-5-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-2-24, .yui3-u-3-24, .yui3-u-4-24, .yui3-u-5-24, .yui3-u-6-24, .yui3-u-7-24, .yui3-u-8-24, .yui3-u-9-24, .yui3-u-10-24, .yui3-u-11-24, .yui3-u-12-24, .yui3-u-13-24, .yui3-u-14-24, .yui3-u-15-24, .yui3-u-16-24, .yui3-u-17-24, .yui3-u-18-24, .yui3-u-19-24, .yui3-u-20-24, .yui3-u-21-24, .yui3-u-22-24, .yui3-u-23-24, .yui3-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto
}

.yui3-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%
}

.yui3-u-1-12, .yui3-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%
}

.yui3-u-1-8, .yui3-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%
}

.yui3-u-1-6, .yui3-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%
}

.yui3-u-1-5 {
  width: 20%;
  *width: 19.9690%
}

.yui3-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%
}

.yui3-u-1-4, .yui3-u-6-24 {
  width: 25%;
  *width: 24.9690%
}

.yui3-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%
}

.yui3-u-1-3, .yui3-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%
}

.yui3-u-3-8, .yui3-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%
}

.yui3-u-2-5 {
  width: 40%;
  *width: 39.9690%
}

.yui3-u-5-12, .yui3-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%
}

.yui3-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%
}

.yui3-u-1-2, .yui3-u-12-24 {
  width: 50%;
  *width: 49.9690%
}

.yui3-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%
}

.yui3-u-7-12, .yui3-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%
}

.yui3-u-3-5 {
  width: 60%;
  *width: 59.9690%
}

.yui3-u-5-8, .yui3-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%
}

.yui3-u-2-3, .yui3-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%
}

.yui3-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%
}

.yui3-u-3-4, .yui3-u-18-24 {
  width: 75%;
  *width: 74.9690%
}

.yui3-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%
}

.yui3-u-4-5 {
  width: 80%;
  *width: 79.9690%
}

.yui3-u-5-6, .yui3-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%
}

.yui3-u-7-8, .yui3-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%
}

.yui3-u-11-12, .yui3-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%
}

.yui3-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%
}

.yui3-u-1, .yui3-u-1-1, .yui3-u-5-5, .yui3-u-24-24 {
  width: 100%
}

#yui3-css-stamp.cssgrids {
  display: none
}

@media screen and (max-width: $break) {
  .yui3-u-1, .yui3-u-1-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-5-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-2-24, .yui3-u-3-24, .yui3-u-4-24, .yui3-u-5-24, .yui3-u-6-24, .yui3-u-7-24, .yui3-u-8-24, .yui3-u-9-24, .yui3-u-10-24, .yui3-u-11-24, .yui3-u-12-24, .yui3-u-13-24, .yui3-u-14-24, .yui3-u-15-24, .yui3-u-16-24, .yui3-u-17-24, .yui3-u-18-24, .yui3-u-19-24, .yui3-u-20-24, .yui3-u-21-24, .yui3-u-22-24, .yui3-u-23-24, .yui3-u-24-24 {
    width: 100%;
  }
}