<div class="branding-navigation">
  <a class="logo">
    <img src="logo.svg" title="FinReach">
  </a>

  <nav class="main-navigation" role="navigation">
    <ul class="main-navigation__list">
      <li class="main-navigation__item">
        <a href="#">SERVICES</a>
      </li>
      <li class="main-navigation__item">
        <a href="#">DOSSIER</a>
      </li>
      <li class="main-navigation__item">
        <a href="#">TEAM</a>
      </li>
      <li class="main-navigation__item">
       <a href="#" class="button">KONTAKT</a>
      </li>
    </ul>
  </nav>
</div>