<div class="promo">

  <div class="yui3-u-2-3">
    <h1 class="promo-header">Business Ready für Ihre Kunden</h1>

    <h2 class="promo-subheader">
      FinReach entwickelt Technologielösungen für Finanzdienstleister.
      Vereinfachen Sie die Kundengewinnung und erhöhen Sie die Kundenzufriedenheit.
    </h2>
  </div>

  <div class="yui3-g promo-blocks">

    <div class="promo-visual yui3-u-2-3">
      <div class="block">
        <h3 class="block__title"><span class="badge badge--promo">NEU</span> Kontowechsel-Service</h3>
        <p class="promo-visual__text">
          Mit FinReach's automatisiertem Kontowechsel-Service können Kunden ihr Gehaltskonto in wenigen Minuten
          umziehen.
        </p>
        <img class="promo-visual__image" src="acc_switch.png" title="account switch">
      </div>
    </div>

    <div class="promo-info yui3-u-1-3">
      <div class="block block--invert">
        <h3 class="block__title block__title--invert">Neuigkeiten</h3>
        <div class="scrolled-container">
          {{ember-ui-pagination
            store=store
            modelName='item'
            url='https://api.github.com/search/repositories?q=Roman'
            serverPagination=true
            page=1
          }}
        </div>
      </div>
    </div>

  </div>
</div>